.logo-class {
    width: 25%;
}

.department-links {
    margin-top: 40px;
}

.department-links img {
    width: 80%;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
  
.header-logo:hover {
    text-decoration: none;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

h3 {
    font-size: 24px;
}

.display-4 {
  font-size: 2.5rem;
}

input:focus, textarea:focus {
  outline: 0;
  border: none !important;
  border-bottom: solid 1px #dcdcdc !important;
  box-shadow: none !important;
}

.contact-form input {
  border: none; /* remove bootstrap style */
  border-bottom: solid 1px #dcdcdc;
  border-radius: 0;
}

.contact-form textarea {
  border: solid 1px #dcdcdc;
  border-radius: 0;
  height: 100px; 
  resize: none;
}

.contact-form label {
  font-weight: bold;
}

  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  